body {
  margin: 0px; }

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin: 0px; }

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0px; }

#header {
  height: 114px;
  width: 100%;
  background-color: #6C029F; }
  #header h1 {
    text-align: center;
    font-size: 32px;
    color: #fff;
    letter-spacing: 2px; }
    @media (min-width: 600px) {
      #header h1 {
        text-align: left; } }
  #header p {
    text-align: center;
    color: #fff; }
    @media (min-width: 600px) {
      #header p {
        text-align: right; } }
  @media (min-width: 600px) {
    #header .title {
      float: left;
      width: 50%;
      padding-left: 30px;
      padding-top: 30px; } }
  @media (min-width: 600px) {
    #header .your-location {
      float: right;
      padding-right: 30px;
      padding-top: 20px; }
      #header .your-location p.change {
        margin-top: 12px;
        font-weight: 600; }
      #header .your-location a {
        background-color: #fff;
        margin-top: 20px;
        text-align: right;
        color: #6C029F;
        padding: 3px;
        text-decoration: none; }
      #header .your-location a:hover {
        background-color: #46bfff;
        color: #fff; } }

.container {
  position: relative; }

.shelter-list-component {
  margin: 0px auto; }
  .shelter-list-component .title {
    margin: 20px 30px;
    font-size: 1.5em; }
  .shelter-list-component .stats {
    display: inline;
    float: left;
    width: 20%;
    text-align: center; }
    .shelter-list-component .stats p {
      font-size: 32px; }
    .shelter-list-component .stats h3 {
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 2px; }
  .shelter-list-component .person-icons {
    width: 40%;
    float: right; }
    .shelter-list-component .person-icons .icon {
      width: 20%;
      float: left; }
      .shelter-list-component .person-icons .icon svg {
        height: 48px;
        display: block;
        margin: 0px auto; }
  .shelter-list-component .show-more {
    width: 40%;
    float: right; }
    .shelter-list-component .show-more p {
      text-align: right; }

footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  width: 100%;
  height: 80px;
  background-color: #ececec;
  text-align: center; }
