button.shelter-toggle {
  width: 80px;
  background-color: #46bfff;
  text-align: center;
  color: #fff;
  font-family: 'Lato';
  font-size: 14px;
  display: block;
  margin: 0px auto;
  border:none;
  margin-top: 20px;
  @media (min-width: 600px){
    margin-top: 30px;
  }

  }

  button:hover {
    background-color: $base-color;
  }

  button:focus {

  }
