.shelter-list-component {
	margin: 0px auto;
	border-bottom: 1px solid $neutral-2;
	padding: 0 15px;
	.title {
		margin: 15px auto;
		font-size: $large;
		text-align: center;
		color: $neutral-1;
		font-weight: $bold;
		@media (min-width: 768px) {
			margin: 30px auto;
			font-size: $xl;
		}
	}
	section {
		width: 100%;
		display: table;
		padding-bottom: 20px;

		@media (min-width: 768px){
			width: 50%;
    		float: left;
		}
		.stats {
			display: table-cell;
			width: 33.3%;
			text-align: center;
			p {
				font-size: $large;
				@media (min-width: 768px){
					font-size: $xl;
				}
			}
		}
	}
	.person-icon-container {
	    display: table-cell;
	    width: 60%;

	    @media (min-width: 768px) {
	    	width: 50%;
		    margin: 3px auto;
		    text-align: center;
		    float: right;
	    }

		.icon {
			width: 25%;
			display: inline-block;
			float: left;

			@media (min-width: 600px){
				width: 20%;
			}
			@media (min-width: 768px){
				width: 20%;
    			float: right;
			}

			img {
				height: 25px;
				display: block;

				@media (min-width: 600px){
					height: 42px;
					float: right;
				}
			}
		}
	}
	.button-container{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
	}
	.more-info{
		display: none;
	}
	&.open {
		.more-info {
			display: block;
			background-color: $neutral-2;
			color: $neutral-1;
			margin-top: 30px;
			clear: both;
			address {
				margin: 0px auto;
				a {
					color: $action-color;
					text-decoration: none;
				}
			}
		}
	}
}