.shelter-list-component {
	margin: 0px auto;
	.title {
		margin: 30px auto;
		font-size: $large;
		text-align: center;
		color: $neutral-1;
		font-weight: $bold;
	}
	.stats-container {
	  width: 100%;
		.stats {
			display: inline;
		    float: left;
		    width: 33.3%;
		    text-align: center;
			p {
				font-size: $large;
			}
		}
	}
	.person-icons {
		width: 100%;
		margin: 30px auto;
    	text-align: center;
		.icon {
			width: 60px;
			display: inline-block;
			margin: 40px auto;
			svg {
				height: 48px;
			    display: block;
	    		margin: 0px auto;
			}
		}
	}
}