.shelter-list-component {
	margin: 0px auto;
	border-bottom: 1px solid $neutral-2;
	@media (min-width: 600px) {
		clear: both;
	}

	.title {
		//margin: 15px auto;
		font-size: $large;
		text-align: center;
		color: $neutral-1;
		font-weight: $bold;
		margin-top: 15px;
		@media (min-width: 600px) {
			text-align: left;
			margin-bottom: 15px;
		}
		@media (min-width: 768px) {
			margin: 15px auto;
			font-size: $xl;
		}
	}
	// .row {
	// 	padding: 0 15px;
	// }
	.teaser{
		max-width: 1200px;
		margin: 0 auto;
		section {
			width: 100%;
			display: table;
			padding: 15px 0;
			//margin-left: 15px;

			@media (min-width: 600px){
				width: 50%;
	    		//float: left;
	    		display: initial;
	    		//padding: 0px 0px 20px;
			}
			.stats {
				display: table-cell;
				width: 33.3%;
				text-align: center;

				@media (min-width: 600px) {
					display: inline-block;
				    text-align: center;
				    margin-right: 9px;
				    width: auto;
				}
				@media (min-width: 768px) {
					display: inline-block;
				    text-align: center;
				    margin-right: 35px;
				    width: auto;
				}
				p {
					font-size: $large;
					@media (min-width: 768px){
						font-size: $xl;
					}
				}
			}
		}
	}
	.person-icon-container {
	    display: table-cell;
	    width: 60%;

	    @media (min-width: 600px) {
	    	width: 50%;
		    margin: 3px auto;
		    text-align: center;
		    float: right;
	    }

		.icon {
			width: 20%;
			display: inline-block;
			float: left;

			@media (min-width: 600px){
				width: 20%;
				float: right;
			}

			img {
				height: 25px;
				display: block;

				@media (min-width: 600px){
					height: 42px;
					float: right;
				}
			}
		}
	}
	.button-container{
		display: table-cell;
		vertical-align: middle;
		text-align: right;
		@media (min-width: 600px) {
			display: block;
		}
	}
	.more-info{
		display: none;
		background-color: $neutral-2;
		color: $neutral-1;
		padding-left: 15px;
		margin: 0;
		clear: both;
		width: 100%;

		section {
			max-width: 1200px;
			margin: 0 auto;
		}
		address {
			margin: 0px auto;
			font-style: normal;
			@media (min-width: 600px) {
				float: right;
			}
			
			a {
				color: $action-color;
				text-decoration: none;
				@media (min-width: 600px) {
					padding: 15px 0 0;
					float: left;
				}
			}
		}
	}
}

.your-location {
	label {
    	color: $neutral-1;
    	text-align: center;
	    width: 100%;
	    display: block;
	    @media (min-width: 600px) {
	    	text-align: right;
	    }
    }
    .change-toggle {
    	text-align: center;
		color: neutral-1;
		margin-top: 8px;

		@media (min-width: 600px) {
			text-align: right;
		}
    }
    .change-location {
    	top: 153px;
    	@media (min-width: 600px) {
			top: 75px;
		}
		@media (min-width: 768px) {
			top: 76px;
		}
    }
}

.input-toggle {
	display: none;
}

.input-toggle:checked ~ .input-location {
	display: block;
}
#change-toggle:checked ~ .input-location {
	display: block;
}
.input-location {
	display: none;
    width: 100%;
    // padding: 0 15px;
    margin: 0 auto;
    margin-top: 10px;
    position: absolute;
    background-color: #e2e2e2;
    padding: 15px;
    top: 107px;
    z-index: 1;

    @media (max-width: 599px) {
    	left: 0px;
    }

    @media (min-width: 600px){
    	width: 320px;
	    top: 75px;
		z-index: 1;
		right: 10px;

    }
    @media (min-width: 768px){
    	width: 320px;
	    top: 75px;
		z-index: 1;
		right: 10px;

    }
    input {
    	width: 100%;
    	margin-bottom: 5px;
	    border: none;
	    padding: 5px;
	    border-radius: 2px;
	    font-size: $small-bold;
	    font-weight: $bold;
    }

    button {
    	background-color: $action-color;
    	font-weight: $bold;
	    border: none;
	    border-radius: 2px;
	    color: #fff;
	    width: 100%;
	    letter-spacing: 1px;
    }
}

.hotline {
	display: block;
	width: 100%;
	border-bottom: 2px solid #e1e1e1;
	margin-bottom: 10px;

	h3 {
		color: $neutral-1;
	}
	h2{
		color: $base-color;
		padding-bottom: 10px;
	}
	@media (min-width: 768px) {
		margin-bottom: 0;
		display: table-cell;
		font-weight: $bold;
		width: 50vw;
		border: none;
		border-right: 2px solid #e1e1e1;
	}
}

.key {
	display: block;
	width: 100%;

	@media (min-width: 768px){
		padding-left: 15px;
		display: table-cell;
		width: 50vw;
		padding-left: 5px;
	}
}
.key-container {
	display: inline-block;
	width: 100%;
	max-width: 600px;
	p {
		font-size: $small-normal;
	}
}
.key-icon {
	display: inline-block;
	width: 18%;
	img {
		height: 20px;
	}
	@media (min-width: 768px){
		width: 19%;
	}
}
.change-form-wrapper {
	max-width: 1170px;
    margin: 0 auto;
    position: relative;

    .change-toggle {
    	position: relative;
	    top: -31px;
	    text-align: center;
	    margin: 0 auto;
	    display: block;
        margin-bottom: -25px;

        @media (min-width: 600px) {
        	position: absolute;
		    right: 15px;
		    top: 63px;
        }
        @media (min-width: 1215px) {
        	right: 0px;
        }
    }

    .input-location {
    	top: -10px;
    	@media (min-width: 600px) {
    		right: 15px;
    		top: 100px;
    	}
    	@media (min-width: 1215px) {
        	right: 0px;
        }
    }

}

// .key {
// 	margin: 10px 10px;
// 	h3 {
// 		text-align: center;
// 	}
// 	p {
// 		font-size: 12px;
// 	}
// 	@media (min-width: 853px) {
// 	margin: 0px 10px;
// 		p {
// 			font-size: 14px;
// 		}
// 	}
// }

// .key-icon {
// 	margin: 10px;
// 	margin-top: 10px;
// 	display: inline;
// 	float: right;
// 	img {
// 		height: 20px;
// 	}
// 	@media (min-width: 853px) {
// 	margin-left: 20px;
// 	margin-top: 20px;
// 	img {
// 		height: 30px;
// 		}
// 	}
// }
