.landing-bg {
	background-image: url("/images/St_Louis_night_expblend.jpg");
    background-color: #000;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    img {
    	width: 80%;
	    display: block;
	    margin: 30px auto 0 auto;
	    @media (min-width: 600px) {
	    	max-width: 600px;
	    	margin: 40px auto 0 auto;
	    }
    }
    h1 {
    	font-family: 'Lato', sans-serif;
	    font-weight: 600;
	    margin: 0;
	    color: #fff;
	    text-align: center;
	    margin-top: 30px;
	    margin-bottom: 30px;
    }
    .landing-form {
    	padding: 0 15px;
    	max-width: 320px;
    	margin: 0 auto;
    	input {
		    border: none;
		    border-radius: 2px;
		    padding: 5px;
		    width: 100%;
    		margin-bottom: 5px;
    	}
    	button {
    		background-color: #fdc351;
		    font-weight: 600;
		    border: none;
		    border-radius: 2px;
		    color: #fff;
		    width: 100%;
		    letter-spacing: 1px;
    	}
    }
}
.hide {
	display: none;
}