body {
	margin: 0px;
	padding-bottom: 115px;
}
header {
	height: 120px;
	width: 100%;
	background-color: $base-color;
	h1 {
		text-align: center;
		font-size: $large;
		color: $neutral-3;
		letter-spacing: 2px;
		padding-top: 10px;
		@media (min-width: $break-desktop) {
			text-align: left;
			float: left;
			width: 50%;
			padding-top: 30px;
			padding-left: 30px;
		}
		@media (min-width: 768px) {
			font-size: $xl;
		}
	}
	p {
		text-align: center;
		color: $neutral-3;
		font-size: $small-normal;
		color: $neutral-3;
		@media (min-width: $break-desktop) {
			text-align: right;
		}
	}
	a {
		display: block;
		text-align: center;
		text-decoration: none;
		color: $action-color;
		font-size: $small-bold;
	}

	.your-location {
		@media (min-width: $break-desktop) {
			float: right;
			padding-top: 20px;
			p.change {
				margin-top: 12px;
				font-weight: $bold;
			}
			a {
				background-color: $neutral-3;
				margin-top: 20px;
				text-align: right;
				color: $base-color;
				padding: 3px;
				text-decoration: none;
			}
			a:hover {
				background-color: $action-color;
				color: $neutral-3;
			}
		}
	}
}
// .container {
// 	position: relative;
// 	width: 100%;
// 	margin: 0 auto;
// 	@media (min-width: 600px) {
// 		max-width: 600px;
// 	}
// 	@media (min-width: 768px) {
// 		max-width: 768px;
// 	}
// 	@media (min-width: 992px) {
// 		max-width: 992px;
// 	}
// 	@media (min-width: 1200px) {
// 		max-width: 1200px;
// 	}
// }
// .row {
// 	padding: 0;
// }

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	width: 100%;
	height: 80px;
	background-color: $neutral-2;
	text-align: center;
}
