$base-color: #6C029F;
$neutral-1: #3b3b49;
$neutral-2: #ececec;
$neutral-3: #fff;
$green: #0dff8e;
//$darkblue: #385573;
$action-color: #46bfff;
$pink: #ff4db6;

$font-stack:   'Lato', sans-serif;

$small-bold: 12px;
$small-normal: 14px;
$large: 24px;
$xl: 32px;

$normal: 300;
$bold: 600;

$break-mobile: 599px;
$break-desktop: 600px;